@model List<Movies.Extensions.CartItem>
@{
    ViewData["Title"] = "Order Page";
}

<h1>Order</h1>

<div class="text-center mb-3">
    <h1 class="display-4">Place your order</h1>
</div>
<hr />

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <div class="text-center">
                <h5>Cart Items</h5>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th></th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <form method="post" asp-controller="Cart" asp-action="RemoveFromCart">
                                    <input type="hidden" name="ProductId" value="@item.Product.Id" />
                                    <input type="submit" class="btn btn-danger btn-sm" value="Remove" />
                                </form>
                            </td>
                            <td>
                                <a asp-controller="Home" asp-action="Product" asp-route-id="@item.Product.Id"
                                    style="text-decoration:none;color:inherit">
                                    @item.Product.Title
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Home" asp-action="Product" asp-route-id="@item.Product.Id">
                                    @{
                                        try
                                        {
                                            var image = item.Product.ProductImages.FirstOrDefault(x => x.IsMainImage == true);
                                            if (image != null)
                                            {
                                                <img height="100px" src="@image.FileName" alt="@item.Product.Title" />
                                            }
                                            else
                                            {
                                                <img height="100px" src="~/images/noimage.png" alt="@item.Product.Title" />
                                            }
                                        }
                                        catch
                                        {
                                            <img height="100px" src="~/images/noimage.png" alt="@item.Product.Title" />
                                        }
                                    }
                                </a>
                            </td>
                            <td>@item.Product.Price.ToString("0.00") €</td>
                            <td>
                                @* @item.Quantity *@
                                <form method="post" asp-controller="Cart" asp-action="ChangeCartItemQuantity">
                                    <input type="hidden" name="productId" value="@item.Product.Id" />
                                    <input type="number" placeholder="@item.Quantity" name="quantity" value="@item.Quantity" />
                                    <input type="submit" class="btn btn-info btn-sm" value="Change" />
                                </form>
                            </td>
                            <td>@((item.Product.Price * item.Quantity).ToString("0.00")) €</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5" class="text-right">Total:</td>
                        <td>@Model.Sum(x => x.Product.Price * x.Quantity).ToString("0.00") €</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="text-center">
                <h5>Personal information</h5>
            </div>
            @if (ViewBag.Errors.Count > 0)
            {
                <div class="alert alert-danger text-center" role="alert">
                    @foreach (var item in ViewBag.Errors)
                    {
                        <p>@item</p>
                    }
                </div>
            }
        </div>
    </div>
</div>



